*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: lightskyblue;
  height: 55px;
  display: flex;
  align-items: center;
  
}

.container.intestazione{
  
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.container{
  background-color: lightcoral;
  max-width: 900px;
  margin: 0 auto;
  width: 900px;
}

 .logo,.login{
  border: 1px dashed black;
  width: 25%;
  display: flex;
  align-items: center;
  padding: 5px;
  
}
.logo{
  justify-content: start;
}

.login{
  justify-content: end;
}

.menu{
  width: 50%;
  border: 1px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{
  list-style: none;
  display: flex;
 }

 li{
  padding: 5px;
 }

 .jumbotron{
  background-color: blue;
  height:380px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  
 }
.hero{
  height: 300px;
  width: 650px;
  background-color: lightpink;
  border: 2px dashed black;
}


.sezione.uno{
  background-color: white;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenuto{
  height: 380px;
  display: flex;
}

.immagine{
  height: 380px;
  background-color:dodgerblue ;
  width: 60%;
  border: 2px dashed black;
}
.testo{
  width:40% ;
  height: 380px;
  background-color:crimson;
  border: 2px dashed black;
}